{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    [
      "dwayne",
      {
        "keepOriginal": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}
