*.log

node_modules/
.idea/

src/
test/
coverage/
docs/

.babelrc
.editorconfig
.eslintrc

_config.yml

entry.js
bundle.js
bundle.js.map

index.html

gulpfile.js
karma.conf.js
rollup.build.config.js
rollup.dev.config.js
rollup.test.config.js
