div(d-elem="elem")
  d-switch(value="{test}")
    d-case(if="primitive")
      PrimitiveTest

    d-case(if="variables")
      VariablesTest
    d-case(if="changing-variables")
      ChangingVariablesTest
    d-case(if="changing-args-variables")
      ChangingArgsVariablesTest(caption="{argForChangingArgsVariablesTest}")
    d-case(if="changing-globals")
      ChangingGlobalsTest
    d-case(if="changing-multiple-variables")
      ChangingMultipleVariablesTest(caption="{argForChangingMultipleVariablesTest}")

    d-case(if="d-block-simple")
      DBlockSimpleTest
        span {forDBlockTest}
    d-case(if="d-block-named")
      DBlockNamedTest
        d-block-a
          span {forDBlockNamedA}
        d-block-b
          span {forDBlockNamedB}
    d-case(if="d-block-nested")
      DBlockNestedTest
        d-block-a
          span {forDBlockNestedA}
        d-block-b
          span {forDBlockNestedB}

    d-case(if="d-each-simple")
      DEachSimpleTest
    d-case(if="d-each-scope")
      DEachScopeTest
    d-case(if="d-each-changing-set")
      DEachChangingSetTest
    d-case(if="d-each-uid")
      DEachUIDTest
    d-case(if="d-each-attrs")
      DEachAttrsTest
    d-case(if="d-each-nested")
      DEachNestedTest
    d-case(if="d-each-double-nested")
      DEachDoubleNestedTest

    d-case(if="d-if-simple")
      DIfSimpleTest
    d-case(if="d-if-else-if")
      DIfElseIfTest
    d-case(if="d-if-else-if-else")
      DIfElseIfElseTest

    d-case(if="d-attr-simple")
      DAttrSimpleTest
    d-case(if="d-attr-conflict")
      DAttrConflictTest

    d-case(if="d-bind")
      DBindTest

    d-case(if="d-class-simple")
      DClassSimpleTest
    d-case(if="d-class-conflict")
      DClassConflictTest

    d-case(if="d-elem")
      DElemTest

    d-case(if="d-hide")
      DHideTest

    d-case(if="d-on")
      DOnTest

    d-case(if="d-show")
      DShowTest

    d-case(if="d-style-simple")
      DStyleSimpleTest
    d-case(if="d-style-conflict")
      DStyleConflictTest

    d-case(if="d-validate")
      DValidateTest

    d-case(if="d-value-simple")
      DValueSimpleTest
    d-case(if="d-value-content-editable")
      DValueContentEditableTest
    d-case(if="d-value-color")
      DValueColorTest
    d-case(if="d-value-radio")
      DValueRadioTest
    d-case(if="d-value-checkbox")
      DValueCheckboxTest
    d-case(if="d-value-select")
      DValueSelectTest
    d-case(if="d-value-select-multiple")
      DValueSelectMultipleTest
