div(d-elem="elem")
  d-switch(value="{test}")
    d-case(if="primitive")
      PrimitiveTest
    d-case(if="variables")
      VariablesTest
    d-case(if="changing-variables")
      ChangingVariablesTest
    d-case(if="changing-args-variables")
      ChangingArgsVariablesTest(caption="{argForChangingArgsVariablesTest}")
    d-case(if="changing-globals")
      ChangingGlobalsTest
    d-case(if="changing-multiple-variables")
      ChangingMultipleVariablesTest(caption="{argForChangingMultipleVariablesTest}")
    d-case(if="d-block-simple")
      DBlockSimpleTest
        span {forDBlockTest}
    d-case(if="d-block-named")
      DBlockNamedTest
        d-block-a
          span {forDBlockNamedA}
        d-block-b
          span {forDBlockNamedB}
    d-case(if="d-block-nested")
      DBlockNestedTest
        d-block-a
          span {forDBlockNestedA}
        d-block-b
          span {forDBlockNestedB}
    d-case(if="d-each-simple")
      DEachSimpleTest
    d-case(if="d-each-scope")
      DEachScopeTest
