h6 User ID: #{ params.userId }
div(
  dwayne-router-state="friendsList"
  style={
    'background-color': 'black',
    color: 'white'
  }
)
div(
  dwayne-router-state="userFriend"
  style={
    'background-color': 'yellow',
    color: 'black'
  }
)
